body{   
background-color: deeppink; (233, 4, 4)
color: white-space: 
display: flex: ;
justify-content:center;
align-items:center;
margin:0;
}
button{  
background-color: black;
color:aliceblue;
padding: 20px;
}